*.iml.gradle/local.properties/.idea/caches/.idea/libraries/.idea/modules.xml/.idea/workspace.xml/.idea/navEditor.xml/.idea/assetWizardSettings.xml.DS_Store/build/captures.externalNativeBuild/.idea/.gradle/5.1.1/vcsMetadata-1/.idea/libraries/.idea/vcs.xml.idea/workspace.xmlapp/libs/.gradle/5.1.1/fileContent/.gradle/5.1.1/fileHashes/resourceHashesCache.bin.gradle/5.1.1/javaCompile/build/